<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_DEBUG" value="true" force="true"/>
        <env name="APP_KEY" value="litenote-test-key-not-for-production-0001" force="true"/>
    </php>
    <testsuites>
        <testsuite name="LiteNote">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
